html{
    background-color: blanchedalmond;
}

body{
    background-color: bisque;
    text-align: center;
}

h1{
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    background-color: blue;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: large;
}

nav a{
     color: gold;
     text-decoration: none;
}

.grid-container{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: aqua;
    padding: 10px;
}

.item{
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.item2{
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-column: span 2;
}

.item3{
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 30px;
    align-content: center;
    text-align: center;
    grid-column: span 3;
}

